#root {
  margin: 0 auto;
  padding: 2rem 1rem;
}

body {
  background-color: #f3f4f6;
  font-family: "Rubik", sans-serif;
}
.ed:hover {
  cursor: pointer;
}
.ed-btn {
  width: 7.8rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.visible-btn {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

.pers-section {
  background-color: #0e374e;
  color: white;
  text-align: center;
  padding-top: 2.2rem;
  padding-bottom: 1.4rem;
  width: 100%;
}

.resume-bottom {
  background-color: white;
  width: 100%;
}

.resume-bottom-title {
  background-color: rgba(14, 55, 78, 0.07);
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: #0e374e;
  border-radius: 0.3rem;
  text-align: center;
}

.resume-bottom-details {
  margin-top: 1.5rem;
  line-height: 1rem;
}

.experience-left {
  width: 22%;
}
.experience-right {
  width: 78%;
}

.education-left {
  width: 22%;
}
.education-right {
  width: 78%;
}

.edu-section {
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  width: 87%;
}

.experience-section {
  width: 87%;
}

.resume {
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.1),
    0 8px 16px -8px rgba(0, 0, 0, 0.25);
  height: 29.7cm;
  max-width: 21cm;
  background-color: white;
}

.personal,
.education,
.experience {
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.1),
    0 8px 16px -8px rgba(0, 0, 0, 0.25);
}
.form-control {
  background-color: #f3f4f6;
}
.form-label {
  font-weight: 500;
}
